<html>
<head>
    <title>Phone Book</title>
    <script type="text/javascript" src="/static/update.js"></script>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <h1>Phone Book</h1>
    <h3>Add a new contact:</h3>
    <form onsubmit="addContact(); return false;">
        <div>
            <input type="text" name="name" id="name" required>
            <label for="name">Name</label>
        </div>
        <div>
            <input type="text" name="phone" id="phone" required>
            <label for="phone">Phone Number</label>
        </div>
        <button type="submit">Add</button>
    </form>

    <h3>Contacts:</h3>
    <ul id="contactsList">
        {% for contact in contacts_list %}
        <li>
            <div>
                <div><strong>{{ contact.name }}</strong></div>
                <div>{{ contact.phone }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
